<header class="page-header">
  <h1> Admin &raquo; Dashboard</h1>
</header>

<div class="panel panel-default">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>Total Products</td>
        <td><%= @total_product_count%></td>
      </tr>
      <tr>
        <td>Total Categories</td>
        <td><%= @total_category_count%></td>
      </tr>
      <tr>
        <td>Total Active Sales</td>
        <td><%= @total_active_sale_count%></td>
      </tr>
      <tr>
        <td>Total Upcoming Sales</td>
        <td><%= @total_upcoming_sale_count%></td>
    </tr>
    </tbody>
  </table>
</div>
