<div>
  <h3>About Us</h3>
  <p><strong>Welcome to Jungle!</strong><br></p>
  <p>Jungle was founded in 2016 with the vision of making the world a little more 'extra'!</p>
  <p>Therefore, at Jungle, we only carry the the most exclusively-unquie items around. We source our products from local inventors.</p>
</div>